body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0,0%,95%);
}
h1{
    color:hsl(223,100%,64%);
}
form{
    background-color: hsl(0, 32%, 87%);
    text-align: center;
    max-width: 350px;
    margin:auto ;
    padding: 25px;
    border-radius: 15px;
    border:3px solid black;
    box-shadow: 5px 5px 15px ;
}
#textbox{
    height: 40px;
    width: 200px;
    border-radius: 15px;
    border:2px solid black;
    font-size: 16px;
    color: BLACK;
    text-align: center;
    background-color: rgb(186, 175, 175);
}
#result{
    font-size: 1.7em;
    font-weight: bold;
}
